<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Log In</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/signup_login.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div class="row fullscreen-height">
		<div class="col-5 right_part ">
			<div class="row fullscreen_height">
				<a class="home-btn" href="/">
						&#139; Home Page</a>
				<div class="col-6 offset-3 ">
					<div class="formulaire">
						<div class="title_logo_password">
							<div><img src="../images/password.png" class="cloud2"></div>
						</div>
						<p class="text_password">Enter your email, so we can send you a link to setup a new password</p>
						<div>
							<form method="POST" id="formsignup" onsubmit="return mailexist()">
								<div>
									<div class="space_top">
										<label>Email</label>
									</div>
									<div class="inline">
										<input type="text" name="mail"></input>
									</div>
									<div class="inline etu passwd_etu">
										@etu.parisdescartes.fr
									</div>
									<div class="error_message" id="mail_dont_existe">Adresse mail inconnu</div>
								</div>
								<div>
									<input type="submit" value="Validate"></input>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-7 left_part upside">

		</div>
	</div>
	<script src="../scripts/checkForm.js"></script>
	<script src="../scripts/login.js"></script>
</body>

</html>
