<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Log In</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/login.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>

	<div id="title">Log In</div>
	<img class="cloud_img" src="./images/doubleCloud.svg">

	<form action="model/identification.php" method="post">
		<label>E-mail :<br></label>
		<input type="text" name="mail" value=""></input>
		<p style="display:inline-block">@etu.parisdescartes.fr</p>
		<label><br>Password :<br></label>
		<input type="password" name="password"></input>
		<input class="connect_btn" type="submit" value="Log In" style="display:block; width:50%"></input>
	</form>
	<div id="drawing"></div>
	<script src="../scripts/main.js"></script>
</body>

</html>
