<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Sign up</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/signup_login.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div class="row fullscreen-height">
		<div class="col-7 left_part ">
			<a class="home-btn" href="/">< Home page</a>
		</div>
		<div class="col-5 right_part">
			<div class="row fullscreen_height">
				<div class="col-6 offset-3 formulaire">
					<div class="title_logo">
						<div><img src="../images/singUp.svg" class="cloud2"></div>
					</div>
					<div>
						<form action="../controller/register-confirmation.php" method="post" onsubmit="checkForm(event)">
							<div>
								<div class="space_top"><label>Email</label></div>
								<div class="inline">
									<input type="text" name="mail" id="mail" placeholder="surname.name" onblur="checkMail(this)"></input>
								</div>
								<div class="inline etu">@etu.parisdescartes.fr</div>
							</div>
							<div>
								<div class="space_top"><label>Password</label></div>
								<input type="password" name="password" id="password" placeholder="8 characters required" onblur="checkPassword(this)"></input><br>
							</div>
							<div>
								<div class="space_top">
									<label>Year</label>
								</div>
								<div class="etu">
									<input type="radio" name="year" value="1" id="first" checked="checked"></input> <label for="first"><span>DUT1</span></label>
									<input type="radio" name="year" value="2" id="second"></input> <label for="second"><span>DUT2</span></label>
								</div>
							</div>
							<div>
								<input type="submit" value="Sign up" onclick="verifForm(event)"></input>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../scripts/checkForm.js"></script>
</body>

</html>
