<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Sign up</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/signup.css">
	<link rel="stylesheet" href="../styles/form.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>
	<div id="drawing"></div>
	<form action="/controller/register-confirmation.php" method="post">
		<h2>Sign up</h2>
		<label>E-mail </label><br>
		<input type="text" name="mail" value="prenom.nom"></input>
		<p>@etu.parisdescartes.fr</p><br>
		<label>Password </label><br>
		<input type="password" name="password"></input><br>
		<label>Year </label>
		<input type="checkbox" name="year" value="1" checked="checked" ></input> <label><span>1st year</span></label>
		<input type="checkbox" name="year" value="2" ></input> <label><span>2nd year</span></label><br>
		<input type="submit" value="Validate"></input>
	</form>
	<script src="../scripts/main.js"></script>
</body>

</html>
