<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Sign up</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/signup.css">
	<link rel="stylesheet" href="../styles/form.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>
	<div id="drawing"></div>
	<form action="register-confirmation.php" method="post">
		<h2>Sign up</h2>
		<label>E-mail :</label>
		<input type="text" name="mail" style="display:inline-block" value="prenom.nom"></input>
		<p style="display:inline-block">@etu.parisdescartes.fr</p>
		<label>Password :</label>
		<input type="password" name="password"></input>
		<label>Year :</label>
		<input type="radio" name="year" value="1" checked="checked" style="display: inline-block"></input> <label style="display:inline-block">1st year</label>
		<input type="radio" name="year" value="2" style="display: inline-block"></input> <label style="display:inline-block">2nd year</label>
		<input type="submit" value="Validate" style="display:block; width:50%"></input>
	</form>
	<script src="../scripts/main.js"></script>
</body>

</html>
