/*******************************************sign up et tout le reste*****************************************************/

.left_part {
	background-color: #F5F7FA;
	background-image: url(../images/five.png), url(../images/cloud.svg);
	background-repeat: no-repeat;
	background-position: center 40%, center 40%;
	background-size: 50% auto, 60% auto;
}

.right_part {
	text-align: left;
	font-family: "Fjalla One";
	color: #707070;
	font-size: 1.5vw;
}

.home-btn {
	margin: 5%;
	display: inline-block;
	position: absolute;
	font-family: "Fjalla One";
	font-size: 1.5vw;
}

.cloud2 {
	width: 70%;
	height: auto;
}

.title_logo {
	margin-bottom: 5vh;
	text-align: center;
}

.formulaire {
	margin-top: 50%;
	transform: translateY(-50%);
}

.inline {
	display: inline-block;
	width: 45%;
}

.etu {
	font-size: 1vw;
}

.etu2 {
	font-size: 0.8vw;
}

.space_top {
	margin-top: 2vh;
	margin-bottom: -1vh;
}

input {
	border: solid 1px #707070;
	height: 2em;
	font-size: 1vw;
}

input[type="submit"] {
	margin-top: 3vh;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #4152BC;
	font-family: "Fjalla One";
	border: none;
	font-size: 1.7vw;
	color: white;
}

input[type="password"] {
	width: 100%;
	color: #707070;
}

input[type="text"] {
	width: 100%;
	color: #707070;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
	position: absolute;
	left: -9999px;
}

input[type="radio"]+label::before {
	margin-top: 5%;
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	/* dim. de la case */
	border: 1px solid #707070;
}

input[type="radio"]:checked+label::before {
	background: #4152BC;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
	position: relative;
	/* permet de positionner les pseudo-éléments */
	cursor: crosshair;
	/* affiche un curseur adapté */
	margin-right: 15%;
}

span {
	margin-left: 1.5vw;
}


/***********************************************register conf*******************************************/

.text_center {
	text-align: center;
}

.purple {
	color: #4152BC;
}


/************************************************login*****************************************/

a {
	text-decoration: none;
	text-align: right;
}

.maxW {
	width: 52%;
	text-align: right;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]+label::before {
	margin-top: 5%;
	content: '';
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	/* dim. de la case */
	border: 1px solid #707070;
}

input[type="checkbox"]:checked+label::before {
	background: #4152BC;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
	position: relative;
	/* permet de positionner les pseudo-éléments */
	cursor: crosshair;
	/* affiche un curseur adapté */
	margin-right: 15%;
}


/*****************************************************loginPerso*****************************************/

.left_part2 {
	font-family: "Fjalla One";
	background-color: #F5F7FA;
	background-image: url(../images/cloud.svg);
	background-repeat: no-repeat;
	background-position: center 40%;
	background-size: 70% auto;
	text-align: center;
}

.welcome {
	margin-top: 20%;
	transform: translateY(-60%);
}

.big_grey {
	font-size: 6vw;
	color: #707070;
}

.big_orange {
	font-size: 4vw;
	color: #F05228;
}

.welcome2 {
	position: absolute;
	top: 30%;
	transform: translateY(-60%);
	left: 50%;
	transform: translateX(-50%);
}


/**********************************************Start the test*****************************************/

.violet_button {
	width: 16vw;
	background-color: #4152BC;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translateX(-50%);
}

.violet_button a {
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	cursor: crosshair;
}

.violet_button a:hover {
	color: white;
	text-decoration: none;
}


/**********************************************menu*****************************************/

.menu a:hover {
	text-decoration: none;
	color: #4152BC;
}

.menu a {
	margin-right: 15px;
}

.menu_active {
	font-family: "Fjalla One";
	color: #4152BC;
	font-size: 2em;
}

.menu_inactive {
	text-decoration: none;
	font-family: "Segoe UI";
	color: #254463;
	font-size: 1em;
}


/**********************************************swipe*****************************************/

.swipe_cloud {
	margin-left: -10vw;
	margin-top: -3vh;
	width: 15vw;
	height: auto;
	position: relative;
}

.swipe_picture {
	width: 13vw;
	height: auto;
	position: absolute;
	margin-top: 5vh;
	margin-left: -10vw;
	/*
	margin-top: 5vh;*/
}

.swipe_profil {
	text-align: center;
}

.swipe_name {
	margin-top: 20vh;
	color: #F05228;
	font-family: "Fjalla One";
	font-size: 5vw;
}

.swipe_adj {
	color: #707070;
	font-family: "Fjalla One";
	font-size: 3vw;
}

.swipe_description {
	color: #707070;
	font-family: "Segoe UI";
	font-size: 1.5vw;
}

.swipe_icon {
	text-align: center;
}

.swipe_icon img {
	margin-top: 75%;
	width: 10vw;
	height: auto;
}


/**********************************************final****************************************/
