* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #F5F7FA;
}

a.greyBtn {
	color: #707070;
	text-decoration: none;
	font-size: 50px;
	font-family: Fjalla One Regular;
}

.LoginBtn {
	position: absolute;
	bottom: 50%;
	left: 10%;
}

.SignUpBtn {
	position: absolute;
	bottom: 50%;
	right: 10%;
}
