* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #F5F7FA;
}

a.greyBtn {
	color: #707070;
	text-decoration: none;
	font-size: 50px;
	font-family: Fjalla One Regular;
}

.LoginBtn {
	position: absolute;
	bottom: 50%;
	left: 10%;
}

.SignUpBtn {
	position: absolute;
	bottom: 50%;
	right: 10%;
}

.slogan {
	color: #F05228;
	font-size: 50px;
	font-family: Fjalla One Regular;
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.cloudAccueil {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.cloudAccueil img {
	position: relative;
	top: 15%;
	bottom: 15%;
	width: 45%;
	height: auto;
}

.fiveAccueil {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.fiveAccueil img {
	position: relative;
	top: 15%;
	bottom: 15%;
	width: 30%;
	height: auto;
}
